body{
    margin: 42px 120px;
}

.cancel{
    padding: 15px 25px;
    width: 115px;
    text-decoration: none;
    background: #000000;
    border-radius: 60px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #F7F7F7;
    cursor: pointer;
}

h1{
    font-weight: 600;
    font-size: 35px;
    line-height: 47px;
    display: flex;
    width: 400px;
    color: #000000;
    justify-content: center;
    height: 47px;

}

.upload{
    padding: 15px 25px;
    width: 115px;
    text-decoration: none;
    background: #0040FF;
    border-radius: 60px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #F7F7F7;
    margin-left: 220px;
}


form{
    margin-top: 100px;
}

#upload{
    width: 590px;
    height: 500px;
    background: #FFFFFF;
    border: 1px dashed #000000;
    border-radius: 15px;
    margin-top: 100px;
}

.img-upload{
    position: relative;
    margin-left: 250px;
    top: 50px;
}


.img-upload input[type="file"]{
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(3);
    opacity: 0;
}

p{
    text-align: center;
    margin-top: 20px;
}

#nama-link{
    width: 590px;
    height: 80px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 15px;
    margin-bottom: 20px;
}

#desc{
    width: 590px;
    height: 300px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 15px;
    margin-bottom: 20px;
}

@media screen and (width: 1280px){
    .img-upload{
        margin-left: 170px;
    }

}