*{
    margin: 0;
    padding: 0;
}
.cancel{
    width: 183px;
    text-decoration: none;
    height: 50px;
    background: #000000;
    border-radius: 60px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F7F7F7;
    cursor: pointer;
}

.title-1{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
        
}



.upload{
    width: 183px;
    height: 50px;
    background: #0040FF;
    border-radius: 60px;

}

.nav-private{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    
}






#upload{
    width: 590px;
    height: 800px;
    background: #FFFFFF;
    border: 3px dashed #000000;
    border-radius: 15px;
    margin-top: 100px;
}



.teks{
    font-family: 'Roboto' sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0em;
    
}


.img-upload input[type="file"]{
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(3);
    opacity: 0;
}

p{
    text-align: center;
    margin-top: 20px;
}

#nama-link{
    width: 590px;
    height: 80px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 15px;
    margin-bottom: 20px;

}

#desc{
    width: 590px;
    height: 590px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 15px;
}



@media screen and (max-width: 400px) {
    .title-1{
        font-size: 18px;
        text-align: center;
    }
    #nama-link{
        margin-top: 30px;
    }

    .meta{
        margin-left: 140px;
    }
    
}